:root {
	font-size: 16px;
}

.containerFrame {
	
	box-sizing: border-box;
	border: solid 5px blue;
	background-color: yellow;
}

.titleBar {
	background-color: #075e54;
	height: 10vh;
	justify-content: space-between;
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.titleTop {
	width: 8%;
	height: 11vh;
	padding-top: 2vh
}

.iconContainer {
	height: 55%;
	width: 35%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.iconContainer .iconCon{
	border: 1px solid #35eea4;
	display: flex;
	width: 30%;
	height: 100%;
}

.search {
	background-color: #f86856;
	height: 7vh;
	justify-content: space-between;
	align-items: center;
	display: flex;
}

.singleChat {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 12vh;
	background-color: red;
	border: 1px solid #35eea4;
}

.singleChat:hover {
	cursor: pointer;
	background-color: pink;
}

.singleChat:after  {
	width: 80%;
	height: 1px;
	content: "";
	background-color: black;
	left: 50%;
	transform: translate(-40%,0);
	position: absolute;
	bottom: 0;
}

.imageContainer {
	width: 12%;
	height: 11vh;
	padding: 1vh 0vh 1vh 0vh;
}

.imageContainer .imgCon{
	display: flex;
	width: 100%;
	height: 10vh;
}

.contentContainer {
	width: 85%;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0% 3% 0% 3%;
	
	
}

.userName {
	width: 100%;
	font-family: "Times New Roman", Times, bold;
	font-size: 1.2rem;
	height: 2vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	
}

.userName span {
	padding-top: 1vh;
	align-items: center;
	font-size: 0.8rem;
}

.chatContent {
	font-size: 0.5rem;
	height: 1vh;
	
}


