:root {
	font-size: 16px;
}

.containerFrame {
	height: 100vh;
	box-sizing: border-box;
	border: solid 5px blue;
	background-color: yellow;
}

.titleBar {
	background-color: #075e54;
	height: 10vh;
	justify-content: space-between;
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.titleTop {
	border: 1px solid #35eea4;
	width: 12%;
	height: 75%;

}

.iconContainer {
	height: 55%;
	width: 35%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	border: 1px solid #35eea4;
}

.iconCon{
	border: 1px solid #35eea4;
	display: flex;
	width: 25%;
	height: 100%;
	border: 1px solid #35eea4;
}

.search {
	background-color: #f86856;
	height: 10vh;
	justify-content: space-between;
	align-items: center;
	display: flex;
}

.searchContainer {
	height: 50%;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border: 1px solid #35eea4;
}

.searchContainer .iconCon{
	border: 1px solid #35eea4;
	display: flex;
	width: 12%;
	height: 100%;
	border: 1px solid #35eea4;
}

.textSize {
	width: 88%;
	height: 100%
}

.singleChat {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 12vh;
	background-color: #E9F8FC;
}

.singleChat:hover {
	cursor: pointer;
	background-color: pink;
}

.singleChat:after  {
	width: 80%;
	height: 1px;
	content: "";
	background-color: black;
	left: 50%;
	transform: translate(-40%,0);
	position: absolute;
	bottom: 0;
}

.imageContainer {
	border: 1px solid #35eea4;
	width: 15%;
	height: 10vh;
	padding: 0.5vh 0vh 0.5vh 0vh;
	margin-top: 1vh;
}

.imgCon{
	display: flex;
	width: 100%;
	height: 100%;
}

.contentContainer {
	width: 85%;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0% 3% 0% 3%;
	
	
}

.userName {
	width: 100%;
	font-family: "Times New Roman", Times, bold;
	font-size: 1.2rem;
	height: 2vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	
}

.userName span {
	padding-top: 1vh;
	align-items: center;
	font-size: 0.8rem;
}

.chatContent {
	width: 100%;
	font-family: "Times New Roman", Times, bold;
	font-size: 0.8rem;
	height: 2vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.chatContent span {
	width: 1.5vw;
	height: 4vh;
	padding: 0vh 0vh 0vh 0.8vh;
	align-items: center;
	font-size: 0.8rem;
	border-radius: 1vh;
	color: white;
	background-color: green;
}

.box {
	height : 78vh;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: white;
}

.messageArea {
	background-color : white;
	height: 73.5vh;
	border: 1px solid #35eea4;
}

.message {
	background-color : silver;
	height: 14.6vh;
	border: 1px solid #35eea4;
}

.parentRow {
	overflow: hidden;
	
}


