:root {
	font-size: 16px;
}

.containerFrame {
	box-sizing: border-box;
	border: solid 5px blue;
	background-color: yellow;
	height: 100vh;
}

.profile {
	background-color: #C0AD87;
	height: 15vh;
	align-items: center;
}

.img {
	background-color: #C6ECFA;
	height: 40vh;
}

.imageContainer {
	display: flex;
	margin: 6% 0% 0% 22%;
	width: 50%;
	height: 80%;
}

.name {
	background-color: white;
	height: 15vh;
	align-items: center;
}

.msg {
	background-color: #68FBAB;
	height: 15vh;
	align-items: center;
}

.about {
	background-color: white;
	height: 13vh;
	align-items: center;
}

.single {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 10vh;
	background-color: #E9F8FC;
}

.imageConta {
	width: 10%;
	height: 100%;
	padding: 0.5vh 0vh 0.5vh 0vh;
}

.imgCon{
	display: flex;
	width: 100%;
	height: 100%;
}

.contentContainer {
	width: 85%;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0% 3% 0% 3%;
	
}

.userName {
	width: 100%;
	font-family: "Times New Roman", Times, bold;
	font-size: 1.2rem;
	height: 2vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	
}

.userName span {
	padding-top: 1vh;
	align-items: center;
	font-size: 0.8rem;
}

.chatContent {
	width: 100%;
	font-family: "Times New Roman", Times, bold;
	font-size: 0.8rem;
	height: 2vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.messageArea {
	background-color : white;
	height: 73.5vh;
}

.message {
	background-color : silver;
	height: 14.6vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}

.wrapper {
	width: 90%;
	height: 90%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}

.textS {
	width : 89%;
	height: 50%;
}

.send {
	width : 9%;
	height: 50%;
	display: flex;
}